/* !important vì không quan tâm specificity */
.text-center {
    text-align: center !important;
}

/* !important vì không quan tâm specificity */
.text-center {
    text-align: center !important;
}

.loading-spinner {
    animation: spin 2s linear infinite;
    /* chạy mãi mãi */
}

